################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Hashy/v16/Browse.VC.opendb
/.vs/Hashy/v16/Browse.VC.db-wal
/.vs/Hashy/v16/Browse.VC.db-shm
/.vs/Hashy/v16/Browse.VC.db
